<% include include/header.html %>
<div class="container" data-page="login">
    <div class="jumbotron">
        <h3>Easy Docker web Login page</h3>
        <p>please use the account : admin/admin</p>
    </div>
    <form class="form-horizontal col-md-6" action="" method="post">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="username" id="username" value="admin">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password" id="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
</div>
<% include include/footer.html %>