<div class="container">
    <hr>
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>qfdk</strong>. All Rights Reserved
            </div>
        </div>
    </footer>
</div>
<!-- jQuery -->
<script src="/static/js/jquery.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-select.min.js"></script>
<script src="/static/js/bootstrap3-typeahead.min.js"></script>
<script src="/static/js/socket.io.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>
