<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Docker web</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Docker UI web" name="keywords">
    <meta content="" name="description">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css">
    <link type="image/x-icon" href="favicon.ico" rel="shortcut icon">
    <!-- for terminal-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@4.18.0/css/xterm.min.css">
    <script src="https://cdn.jsdelivr.net/npm/xterm@4.18.0/lib/xterm.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xterm-addon-attach@0.6.0/lib/xterm-addon-attach.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit@0.5.0/lib/xterm-addon-fit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xterm-addon-serialize@0.6.2/lib/xterm-addon-serialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xterm-addon-unicode11@0.3.0/lib/xterm-addon-unicode11.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xterm-addon-web-links@0.5.1/lib/xterm-addon-web-links.min.js"></script>
    <style>
        div#terminal {
            background-color: black;
        }

        .xterm-viewport, .xterm-screen {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .terminal.xterm {
            padding: 8px;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Docker Web</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li id="overviewNav"><a href="/overview">Overview</a></li>
            <li id="containersNav"><a href="/containers">Containers</a></li>
            <li id="imagesNav"><a href="/images">Images</a></li>
        </ul>
        <% if(isLogin){ %>
        <ul class="nav navbar-nav navbar-right">
            <li><a style="margin-right:10px" href="/logout">Logout</a></li>
        </ul>
        <%}%>
    </div><!-- /.navbar-collapse -->
</nav>
